* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #F2E9E4;
  color: #331F1F;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 45px;
}

h2 {
  font-size: 35px;
  margin-bottom: 45px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 0 30px;
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  width: 70vw;
}

#available-dates {
  display: flex;
  justify-content: space-around;
}

button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #331F1F;
  font-size: 35px;
  display: flex;
  justify-content: center;
  border: none;
}

#booking {
  margin: 50px;
}

#bookings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

#bookings-list > li {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 50vw;
}

#bookings-list > li > ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 50vw;
}

#bookings-list > li > ul > li {
  width: 25%;
  text-align: center;
  padding: 1rem 0 0.5rem;
  font-size: 22px;
}
