* {
  box-sizing: border-box;
}

body {
  background: #e5eff0;
}

main {
  padding: 16px;
}

/*LOGOUT LINK*/

a {
text-decoration: none;
outline: none;
padding: 8px;
border-radius: 4px;
}

a:link {
background: #18a29d;
color: #e5eff0;
}

a:visited {
  background: #18a29d;
  color: #e5eff0;
}

a:focus {
  background: #18a29d;
  color: #e5eff0;
}

a:hover {
background: #daa174;
color: #180b00;
cursor: url('img/paw-cursor.png'), auto;
}

a:active {
  background: #180b00;
  color: #daa174;

}

/* username wlecome */

#username{
  position: absolute;
  top: 8px;
  right: 16px;
}
/* HEADING AND DATE BUTTONS */

#logo-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 8px auto;
  border-radius: 50px;
}

#date-buttons,
#date-labels {
  display: flex;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
}

#date-labels > h4 {
  padding: 8px;
  font-size: 1.414rem;
  text-align: center;
  width: 40px;
}

#date-buttons > button {
  background: #18a29d;
  border: none;
  color: #e5eff0;
  padding: 8px;
  border-radius: 50%;
  font-size: 1.414rem;
}

#date-buttons > button:hover,
#date-buttons > button:focus {
  background: #5f2b02;
  outline: none;
}

/* TABLE OF BOOKINGS */

#bookings-table {
  width: calc(100vw - 32px);
  background: #5f2b02;
  text-align: center;
  margin: 16px auto 0 auto;
  border-radius: 4px;
}

#bookings-table > tr > td {
  background: #daa174;
  padding: 4px;
}

#bookings-table > tr > th {
  color: #e5eff0;
  padding: 4px;
}

/* REGISTRATION FORM */

#booking-form {
  margin-top: 32px;
}

#booking-form form {
  width: calc(100vw - 32px);
  background: #5f2b02;
  /* margin-top: 32px; */
  border-radius: 4px;
  color: #e5eff0;
  padding: 32px;
  padding-top: 16px;
  border: none;
  outline: none;
}

#booking-form form > label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
}

#booking-form form > label > input {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-top: 4px;
  border: none;
  padding: 4px;
}

#booking-form form > label > input:focus {
  outline: none;
  background: #18a29d;
  color: #e5eff0; 
  border: none;
}

#booking-form form > button {
  font-size: 1rem;
  background: #18a29d;
  color: #e5eff0; 
  padding: 8px;
  border: none;
  display: block;
  margin: 16px auto 0 auto;
  border-radius: 4px;
}

/* additional magic for the tabbed section */

section[hidden] {
  display: none;
}

[role="tablist"] {
  padding: 0;
}

[role="tablist"] li, [role="tablist"] a {
  display: inline-block;
  width: 7em;
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.5rem 1em;
  color: #e5eff0;
}

[role="tablist"] li {
  margin-right: 8px;
  background: #daa174;
  border: none;
}

[role="tablist"] [aria-selected] {
  border: 2px solid #18a29d;
  border-bottom: none;
  background: #5f2b02;
  outline: none;
  position: relative;
}
  