* {
  box-sizing: border-box;
}

body {
  background: #e5eff0;
}

main {
  padding: 16px;
}

/* HEADING AND DATE BUTTONS */

#logo-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 8px auto;
  border-radius: 50px;
}

#available-dates {
  display: flex;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: space-between;
}

#available-dates > button {
  background: #18a29d;
  border: none;
  color: #e5eff0;
  padding: 16px;
  border-radius: 50%;
}

#available-dates > button:hover,
#available-dates > button:focus {
  background: #5f2b02;
  outline: none;
}

/* TABLE OF BOOKINGS */

#bookings-table {
  width: calc(100vw - 32px);
  background: #5f2b02;
  text-align: center;
  margin: 16px auto 0 auto;
  border-radius: 4px;
}

#bookings-table > tr > td {
  background: #daa174;
  padding: 4px;
}

#bookings-table > tr > th {
  color: #e5eff0;
  padding: 4px;
}

/* REGISTRATION FORM */

#booking-form > form {
  width: calc(100vw - 32px);
  background: #5f2b02;
  margin-top: 32px;
  border-radius: 4px;
  color: #e5eff0;
  padding-bottom: 16px;
}

#booking-form > form > h4 {
  padding-top: 16px;
  margin-bottom: 16px;
}

#booking-form > form > label {
  display: block;
  font-size: 1rem;
  margin: 0 16px 0 16px;
}

#booking-form > form > label > input {
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-top: 4px;
  border: none;
}

#booking-form > form > label > input:focus {
  outline: none;
  background: #18a29d;
  color: #e5eff0; 
  border: none;
}

#booking-form > form > button {
  font-size: 1rem;
  background: #18a29d;
  color: #e5eff0; 
  padding: 8px;
  border: none;
  display: block;
  margin: 16px auto 0 auto;
  border-radius: 4px;
}